.rw{
  font-family: "Open Sans", sans-serif;
}
.form{
  font-family: "Open Sans", sans-serif;
}
.mat{
  width: 25%;
}
.newco{
  margin-left: 25%;
}
.newc{
  margin-left: 35%;
}
.lei{
  margin-top: -0.7%;
}
.cen{
  margin-left: 30%;
}
.ncen{
  margin-left: 30%;
}
.markc{
  margin-left: 10%;
}
.aa{
  height: 350px;
}
.t{
  width: 104%;
}
.demo{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: auto;
  border-width: 1px;
  }
  .demo1{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    width: 80%;
    border-width: 1px;

    }
.mat-fo{
  width: 3%;
}
.mat-form{
  width: 7%;
  margin-left: 0.5%;
}
.Guidence{
  margin-top: -5%;
}
.keyf{
  margin-top: -1%;
}
.mat-form-fi{
  width: 10%;
}

.fcolor{
  color: white;
}
#lab{
  color: white;
  margin-left: 3  px;
}
  .button{
    border-radius: 5px;
    margin-top: 10px;    
}
.data{ 
  opacity: 0.2;
  height: 60%;
  margin-top: 8%;
}

.icon {
  text-align: right;
  margin-right: 0%;
  margin-top: -4%;
}

#searchbar{
  width: 97%;
}


#butt{

  margin-top: -50px;
}

.mdi-eye{
  color:cornflowerblue;
}

#b2 {
  margin-left: 10px;
}
#bt{
  margin-right: -100%;
}
.backcolor{
  color: green;
}
.tableview{
  
  margin-left: -65px;
}
.ex1{
  height: 900px;
  overflow: scroll;
  background:rgb(255, 255, 255);
  margin-top: 2%;
}


.uln{
  margin-top: -1%;
}
.rw{
  margin-top: -1.5%;
}
hr.new1 {
  border-top: 1px solid rgba(134, 126, 126, 0.548);
}
hr.new2 {
  border-top: 1px solid rgba(134, 126, 126, 0.548);
 
}
.new2{
  margin-top: -0.5%;
}
.dat{
  margin-top: -7%;
}
.new1{
  margin-top: -2.5%;
}
.head{
  margin-top: -2.4%;

}

.button{
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  
}
.edf{
  margin-top: -2%;
}

  .le{
    margin-left: 1%;
  }
  .sal{
    margin-right: -20%;
    margin-left: 1%;
  }
  .expl2{
    width: 104%;
    margin-top: 2.5%;
    height: 9%;
  }
  .exp2{
    width: 104%;
    height: 9%;
  }
  .expp2{
    width: 104%;
  }
  .fir{
    margin-right: -2%;
  }
  #btn{
    position: relative;
    left: 920px;
}

.modal-size{
    max-width: 800px;
}
.modal-centered{
    text-align: center;
}

.modal-body{
  height: 650px;
  overflow: hidden;
}
.modal-body:hover{
  overflow-y: auto;
}
.popupheader{
  color: white;
}
.fade{
  opacity: 1;
  -webkit-transition: opacity is linear;
  transition: opacity is linear;
}
.dat{
  
  margin-left: 3%;
}
.search{
  margin-left: -3%;

}

fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
   
  padding: 10px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}	

  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 8%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
  }

fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
   
  padding: 15px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}	

  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 15%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
  }

.back1{
  background-color: #4176e7;
}



 @media screen and (min-width: 1200px)  {
  .btn1{
      left: 8.5%;
     
  }
  .del{
    left: 1.8%;
   
}
}
 
/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .btn1{
      left: 3%;
      
  }
  .del{
    left: 2%;
    
  padding: 0px;

  }
  .edit1{
    margin-left: 1%;
  }
  .ex1{
    margin-left: 1.2%;
  }
  .dat{
    margin-top: -7%;
  }
  .unqualified{
    width: 30%;
  }
  .new{
    width: 30%;
  }
  .working{
    width: 30%;
  }
  .nurt{
    margin-left: 7%;
    width: 30%;
  }
  .convert{
    width: 28%;
  }
  .newco{
    margin-left: 10%;
  }
  .newc{
    margin-left: 35%;
  }
  .cen{
    margin-left: 30%;
  }
  .ncen{
    margin-left: 15%;
  }
  .markc{
    margin-left: 0%;
  }
  .modal-size{
    max-width: 350px;
  }
  .modal-centered{
    text-align: center;
  }
  
  .modal-body{
  height: 300px;
  overflow: hidden;
  }
  .modal-body:hover{
  overflow-y: auto;
  }
}
/* Mobile Styles */
@media screen and (max-width: 320px) {
  .btn1{
      left: 0.1%;
     
  }
  .bt2{
    width: 41%;
    
  }
   
  .del{
    left: 5%;
    margin-top: 2%;
  }
  .ex1{
    margin-left: 3%;
  }

   
}
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.tab .nav-tabs{
  border-bottom: 0 none;
}
 
.tab .nav-tabs li a{
  padding: 8px 12px;

  color: #888;
  background:#2f55a4;
  border-radius: 40%;
   
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
  background: #d96459;
  color: #fff;
  border-color: #d96459;
  transition: background 0.20s linear 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:after{
  content: "";
  border: 13px solid transparent;
  border-bottom-color: #d3d3d3;
  position: absolute;
  bottom: -26px;
  left: 37%;
}
.tab .nav-tabs li.active a:after{
  border-bottom-color: #fff;
  bottom: -27px;
}
.tab .tab-content{
  font-size: 12px;
  color: #333;
  background: #fdfdfd;
  line-height: 25px;
  padding: 20px 25px;
  margin-top: 25px;
  border: 1px solid #ddd;
}
.tab .tab-content h2{
  font-size: 30px;
}
@media only screen and (max-width: 320px){
  .tab .nav-tabs li{
      width:100%;
      margin-bottom: 5px;
  }
  .tab .nav-tabs li a{
      padding: 20px;
      border-radius: 0;
  }
  .tab .nav-tabs li.active a:before,
  .tab .nav-tabs li.active a:after{
      border: none;
  }
  .tab .tab-content{
      margin-top: 5px;
  }
}


@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
  .btn1{
    left: 0.1;
   
  }
  
  .del{
  left: -1%;
  }
.convert{
  margin-top: 0.3%;
  width: 25%;
}
.nurt{
  margin-left: 8%;
  margin-top: 0.3%;
  width: 23%;
}
.unqualified{
  width: 25%;
}
.new{
  width: 25%;
}
.working{
  width: 28%;
}
.newco{
  margin-left: 10%;
}
.newc{
  margin-left: 20%;
}
.cen{
  margin-left: 15%;
}
.ncen{
  margin-left: 15%;
}
.markc{
  margin-left: 0%;
}
.modal-size{
  max-width: 650px;
}
.modal-centered{
  text-align: center;
}

.modal-body{
height: 550px;
overflow: hidden;
}
.modal-body:hover{
overflow-y: auto;
}
}


/* Desktop Styles */
@media screen and (min-width: 1440px)  {
  
  .unqualified{
    width: 30%;
  }
  .new{
    width: 30%;
  }
  .working{
    width: 30%;
  }
  .nurt{
    width: 30%;
    margin-left: 5.5%;
  }
  .convert{
    width: 30%;
  }
  .mark{
    width: 30%;
  }
  .modal-size{
    max-width: 650px;
  }
  .modal-centered{
    text-align: center;
  }
  
  .modal-body{
  height: 550px;
  overflow: hidden;
  }
  .modal-body:hover{
  overflow-y: auto;
  }
}
