#btn{
    position: relative;
    left: 920px;
}
.form{
    font-family: "Open Sans", sans-serif;
  }
.rw{

    font-family: "Open Sans", sans-serif;
  }
.modal-size{
    max-width: 800px;
}
.modal-centered{
    text-align: center;
}
.label{
    font-size: 15px;
}
.button{
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.splitOp{
    left: 4%;
    
}
ul.dropdown-menu,
.dropdown-menu>li{
    /* background-color: red; */
    width: 70% !important;
    left: 10% !important;
     
}
 
.back1{
    background-color: #4176e7;
    
   }
   .fcolor{
    color: white;
  }
.lead{
    margin-top: -22px;
}
.input{
    height: 35px;
}
#b2{
    margin-right: 10px;
    }
.head{
    text-align: center;
}
.modal-body{
    height: 650px;
    overflow: hidden;
}
 
.modal-body:hover{
    overflow-y: auto;
}
.popupheader{
    color: white;
}
 .dropdown-menu{
    
    width: 20px;
    
}
.fade{
    opacity: 1;
    -webkit-transition: opacity is linear;
    transition: opacity is linear;
}

.mod{
    border-radius: 20px;
}
.backcolor{
    color: green;
}


/* Desktop Styles */
@media only screen and (max-width: 1440px) {
    .splitOp{
        left: 1.8%;
        margin-top: -3%;
       
    }
     
  }
/* Laptop Styles */
@media  screen and (max-device-width : 1024px) {
    .splitOp{
        left: 34.6%;
        margin-top: -3.9%;
    }
    /* .search{
        margin-bottom: 10%;
    }
    .tba{
        margin-top: -4.5%;
    } */
  }
/* Tablet Styles */
@media screen and (max-device-width : 768px) {
    .splitOp{
        left: 35%;
        margin-top: -5.5%;
    }
    /* .search{
        margin-bottom: 10%;
    }
    .tba{
        margin-top: -4.5%;
    } */
  }
  /* Mobiles Styles */
  @media only screen   
  and (min-device-width : 320px)   
  and (max-device-width : 480px)   {
    .splitOp{
        left:-11%;
    }
     
  }