.rw{
  font-family: "Open Sans", sans-serif;
}
.form{
  font-family: "Open Sans", sans-serif;
}
  .button{
    border-radius: 5px;
    margin-top: 2%;  
    margin-bottom: 10%;  
}
.aa{
  height: 350px;
}
.demo{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  width: auto;
  border-width: 1px;
  }
  .demo1{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    width: 80%;
    border-width: 1px;

    }
    .dem{
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      width: 70%;
      border-width: 1px;

      }
    .Guidence{
      margin-top: -3%;
    }
    .keyf{
      margin-top: -1%;
    }
#fcol{
  color: white;
}
.expl2{
  height: 9%;
}
.cen{
  margin-left: -50%;
}
.ncen{
  margin-left: -50%;
}
.exp2{
  height: 10%;
}
.lei{
  margin-top: -1%;
}
.nav-split {
  background-color: red;
}
.icon1{
  text-align: right;
  margin-left:41%;
  }
  .icon2{
    text-align: right;
    margin-left:-1%;
    }
.edf{
  margin-top: -1%;
}
.fcolor{
  color: white;
}
.icon{
  text-align: right;
  margin-right:0%;
  margin-top: -3%;
  }
#b2{
  margin-left: 10px;
}
.modal-size{
  max-width: 800px;
}
.modal-centered{
  text-align: center;
}
label{
  font-size: smaller;
}
.btn2{
  margin-left: 43%;
}
.head{
  margin-top: -1.4%;
  margin-left: -2.4%;
margin-right: -2.4%;
}
fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
  padding: 10px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}	
  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 8%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
  }
.modal-size{
  max-width: 800px;
}
.modal-centered{
  text-align: center;
}
.modal-body{
height: 650px;
overflow: hidden;
}
.modal-body:hover{
overflow-y: auto;
}
.popupheader{
color: white;
}
.fade{
opacity: 1;
-webkit-transition: opacity is linear;
transition: opacity is linear;
}
.pi{
  margin-right: 0.4%;
  width: 18.5%;
}
.head{
  text-align: center;
}
.modal-body{
  height: 600px;
  overflow: hidden;
}
.modal-body:hover{
  overflow-y: auto;
}
.popupheader{
  color: white;
}
.back1{
  background-color: #4176e7; 
 }

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
  .btn1{
    left: 20%; 
}
.del{
  left:12%;
}
.convert{
  margin-top: 0.3%;
  width: 25%;
}
.nurt{
  margin-left: 5%;
  margin-top: 0.3%;
  width: 25%;
}
.unqualified{
  width: 25%;
}
.new{
  width: 25%;
}
.working{
  width: 28%;
}
.cen{
  margin-left: 10%;
}
.newc{
  margin-left: 10%;
}
.newco{
  margin-left: 20%;
}
.ncen{
  margin-left: 8%;
}
.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
}
.modal-size{
  max-width: 600px;
}
.modal-body{
  height: 450px;
  overflow: hidden;
}

 .modal-body:hover{
    overflow-y: auto;
} 
.icon{
  margin-top: -4%;
}
} 

/* Desktop Styles */
@media screen and (min-width: 1440px)  {
  .btn1{
      left: 20%; 
  }
  .del{
    left:12%;
}
.mark{
  width: 22%;
}
.nurt{
  width: 15%;
}
.working{
  width: 15%;
}
.new{
  width: 15%;
}
.ncen{
  margin-left: -50%;
}
.newc{
  margin-left: -30%;
}
.modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}
.modal-size{
  max-width: 700px;
}
.modal-body{
  height: 500px;
  overflow: hidden;
}

 .modal-body:hover{
    overflow-y: auto;
}
.icon{
  margin-top: -3%;
}
}
/* Desktop Styles */
@media screen and (min-width: 1200px)  {
  .btn1{
      left: 25.5%; 
  }
  .del{
    left:15.3%;
}
.label{
  margin-left: 1%;
  font-size: small;
}
.fir{
  margin-right: 6%;
  margin-left: -6.3%;
}
.last{
  margin-left: -8%;
}
}
 
/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .btn1{
      left: 11.7%;   
  }
  .del{
    left: 8.5%;
  padding: 0px;
  }
  .nurt{
    margin-left: 6.5%;
  }
  .convert{
    margin-top: 0.3%;
    width: 25%;
  }
  .nurt{
    margin-left: 7%;
    margin-top: 0.3%;
    width: 25%;
  }
  .unqualified{
    width: 25%;
  }
  .new{
    width: 25%;
  }
  .working{
    width: 37%;
  }
  .newco{
    margin-left: 10%;
  }
  .newc{
    margin-left: -50%;
  }
  .ncen{
    margin-left: -100%;
  }
  .icon{
    margin-top: -5%;
  }
  .divv{
    margin-top: -3%;
  }
}
/* Mobile Styles */
@media screen and (max-width: 320px) {
  .btn1{
      left: 0.1%; 
  }
  .bt2{
    width: 41%; 
  }  
  .del{
    left: 5%;
    margin-top: 2%;
  }  
}
a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.tab .nav-tabs{
  border-bottom: 0 none;
}
.tab .nav-tabs li{
  margin-left: -15%;
}
.tab .nav-tabs li a{
  padding: 10px 15px;
  font-size: 14px;
  color: #888;
  background:#2f55a4;
  border-radius: 40%;
  border: 1px solid #d3d3d3;
}
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
  background: #d96459;
  color: #fff;
  border-color: #d96459;
  transition: background 0.20s linear 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:after{
  content: "";
  border: 13px solid transparent;
  border-bottom-color: #d3d3d3;
  position: absolute;
  bottom: -26px;
  left: 37%;
}
.tab .nav-tabs li.active a:after{
  border-bottom-color: #fff;
  bottom: -27px;
}
.tab .tab-content{
  font-size: 14px;
  color: #333;
  background: #fdfdfd;
  line-height: 25px;
  padding: 20px 25px;
  margin-top: 25px;
  border: 1px solid #ddd;
}
.tab .tab-content h2{
  font-size: 30px;
}
@media only screen and (max-width: 320px){
  .tab .nav-tabs li{
      width:100%;
      margin-bottom: 5px;
  }
  .tab .nav-tabs li a{
      padding: 20px;
      border-radius: 0;
  }
  .tab .nav-tabs li.active a:before,
  .tab .nav-tabs li.active a:after{
      border: none;
  }
  .tab .tab-content{
      margin-top: 5px;
  }
}