.rw{
  font-family: "Open Sans", sans-serif;
}

#lab{
  color: white;
  margin-left: 3  px;
}
  .button{
    border-radius: 5px;
    margin-top: 10px;    
}
.t{
  width: 104%;
}

.l{
  height:420px;

 }
 .m{
height: 420px;
}
 .k{
   height:450px;
 }
.form{
  font-family: "Open Sans", sans-serif;
}
.data{ 
  opacity: 0.5;
  height: 60%;
  margin-top: 8%;
}
.back1{
  background-color: #4176e7;
}
 .fcolor{
  color: white;
}
.ex1{
  height:880px;
  overflow: scroll;
  background:rgb(255, 255, 255);
  
  margin-top: 1%;
  padding-left: 2%;
  
}
.ex{
  height: 100px;
}
.icon {
  text-align: right;
  margin-right: 0%;
  margin-top: -5%;
}
  .btnedit{
    margin-left: 80.8%;
  }
#searchbar{
  width: 97%;
}

fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
   
  padding: 15px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}	

  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 15%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
  }

 #pqr{
margin-left: -1%;
} 
.contacts{
  height: 400px;
}
#butt{

  margin-top: -50px;
}

.mdi-eye{
  color:cornflowerblue;
}

#b2 {
  margin-left: 10px;
}
#bt{
  margin-right: -100%;
}
.backcolor{
  color: green;
}
.tableview{
  
  margin-left: -65px;
}
 
.exp2{
  width: 104%;
  height: 13%;
}
.edf{
  margin-top: -2%;
}
.expl2{
  width: 104%;
  margin-top: 1.8%;
  height: 11%;

}
.uln{
  margin-top: -1%;
}
.rw{
  margin-top: -1.5%;
}
hr.new1 {
  border-top: 1px solid rgba(134, 126, 126, 0.548);
  margin-top: -1%;
}
.dat{
  margin-top: -5%;
  margin-left: 3%;
  margin-bottom: 2%;
}
.new1{
  margin-top: -1.5%;
}
.head{
  margin-top: -2.4%;
  margin-left: -2.4%;
margin-right: -2.4%;

}
  #btn{
    position: relative;
    left: 920px;
}
.modal-size{
    max-width: 800px;
}
.modal-centered{
    text-align: center;
}
.modal-body{
  height: 650px;
  overflow: hidden;
}
.modal-body:hover{
  overflow-y: auto;
}
.popupheader{
  color: white;
}
.fade{
  opacity: 1;
  -webkit-transition: opacity is linear;
  transition: opacity is linear;
}

/* Desktop Styles */
@media screen and (min-width: 1200px)  {
  .btn1{
      left: 10%;
     
  }
  .del{
    left: 3%;
}
}
 
/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .btn1{
      left: 6%;
      
  }
  .del{
    left: 3%;
  padding: 0px;

  }
  .edit1{
    margin-left: 1%;
  }
  .ex1{
    margin-left: 2%;
  }
  .dat{
    margin-top: 0.5%;
  }

}
/* Mobile Styles */
@media screen and (max-width: 320px) {
  .btn1{
      left: 0.1%;
  }
  .bt2{
    width: 41.3%;
    
  }   
  .del{
    left: 5%;
    margin-top: 2%;
  }
  .ex1{
    margin-left: 3%;
  }

   
}