#fcol{
  color: white;
}
.keyf{
  margin-top: -1%;
}
.rw{
  font-family: "Open Sans", sans-serif;
}
.form{
  font-family: "Open Sans", sans-serif;
}
.sta{
  height: 270px;
}
.exp2{
  height: 10%;
}
.aa{
  height: 350px;
}
.input-form{
  position: relative;
  border:none;
  border-color: transparent;
  outline: none; 
  border-bottom: 1px solid #CCC;
  color: #555;
  width: 300px;      
}

.modal-size{
  max-width: 800px;
}
.modal-size1{
  max-width: 600px;
}
.modal-centered{
  text-align: center;
}
.button{
  border-radius: 5px;
  margin-top: 10px;    
}
.button4{
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

label{
  font-size: small;
  font-family: "Open Sans", sans-serif;

}
.fcolor{
  color:white;
}
.fcolor1{
  color:white;
}
.backcolor{
    color: green;
}
.demo{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-width: 1px;
}


.Guidence{
  margin-top: -3%;
}
.hideinput
 { 
 display:none; 
 visibility:hidden; 
 border: 0px;
 } 
.content-page {
margin-left: 40px;
margin-right: 5px;
overflow: hidden;
padding: 0 15px 65px 15px;
min-height: 80vh;
margin-top: 80px;
}

.card-box-2 {
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
  margin-bottom: 24px;
  border-radius: .25rem;
  margin-top: 15px;
}


#ap{
margin-left: 10px;
}  
.icon{
  text-align: right;
  margin-right:0%;
  margin-top: -3%;
  }
  .icon1{
    text-align: right;
    margin-left:-1%;
    }
  
    .icon2{
      text-align: right;
      margin-left:23.8%;
      }
  
 .back1{
  background-color: #4176e7;
  
 }
.le{
  margin-left: 2%;
}
.sal{
  margin-left: 1.2%;
 
}

.fir{
  margin-right: -4%;
  margin-left: -4.3%;
}

fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
   
  padding: 10px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}	

  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 8%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
  }
.head{
  margin-top: -1.4%;
  margin-left: -2.4%;
margin-right: -2.4%;

}
.rw{
  margin-top: -1%;
}

#b1{
margin-left: 10px;
}

#b2{
margin-left: 14px;
}
.tab li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 3px;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .tab li {
     float: none;
     width: 100%;
  }
}
 
 
@media only screen and (max-width: 1366px){
  .btn1{
    left: 25.2%;
   
}
.del{
  left: 15%;
 
}
}
/* Desktop Styles */
@media only screen and (min-width: 1370px) and (max-width: 1605px)    {
  .btn1{
      left: 24%;
     
  }
  .del{
    left: 14%;
   
  }
  .tag{
    margin-left: -12%;
  }
}
/*  Laptop Styles */

@media only screen   
and (min-device-width : 768px)   
and (max-device-width : 1024px)  
{ 
  .btn1{
    left: 20%; 
}
.del{
  left:12%;
}
.convert{
  
  width: 25%;
}
.nurt{
  margin-left: 5.5%;
  width: 25%;
}
.unqualified{
  width: 25%;
}
.new{
  width: 25%;
}
.working{
  width: 28%;
}
.modal-dialog {
  max-width: 600px;
  margin: 1.75rem auto;
}
.modal-size{
  max-width: 600px;
}
.modal-body{
  height: 450px;
  overflow: hidden;
}

 .modal-body:hover{
    overflow-y: auto;
} 
.icon{
  margin-top: -4%;
}

} 


/* Desktop Styles */
@media screen and (min-width: 1440px)  {
.mark{
  width: 23%;
}
.nurt{
  width: 13%;
}
.working{
  width: 13%;
}
.new{
  width: 17%;
}
.convert{
  width: 16%;
}
.unqualified{
  width: 13%;
}
.modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}
.modal-size{
  max-width: 700px;
}
.modal-body{
  height: 500px;
  overflow: hidden;
}

 .modal-body:hover{
    overflow-y: auto;
}
}
 
/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .btn1{
      left: 10%;
      
  }
  .del{
    left: 7%;
  padding: 0px;

  }
  .convert{
    margin-top: 0.3%;
    width: 28%;
  }
  .nurt{
    margin-left: 7%;
    margin-top: 0.3%;
    width: 23%;
  }
  .unqualified{
    width: 25%;
  }
  .new{
    width: 31%;
  }
  .working{
    width: 25%;
  }
  .icon{
    margin-top: -5%;
  }
}
/* Mobile Styles */
@media screen and (max-width: 320px) {
  .btn1{
      left: 0.1%;
     
  }
  .bt2{
    width: 42.5%;
    
  }
   
  .del{
    left: 5%;
    margin-top: 2%;
  }

   
}

a:hover,a:focus{
  text-decoration: none;
  outline: none;
}
.tab .nav-tabs{
  border-bottom: 0 none;
}
/* .tab .nav-tabs li{
  margin-left: 12px;
} */
.tab .nav-tabs li a{
  padding: 10px 15px;
  font-size: 14px;
  color: #888;
  background:#2f55a4;
  border-radius: 40%;
  border: 1px solid #d3d3d3;
  /* position: relative; */
}
/* .tab .nav-tabs li a:hover{
  background: #d96459;
  color: #fff;
  border-color: #d96459;
} */
.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover{
  background: #d96459;
  color: #fff;
  border-color: #d96459;
  transition: background 0.20s linear 0s;
}
.tab .nav-tabs li.active a:before,
.tab .nav-tabs li.active a:after{
  content: "";
  border: 13px solid transparent;
  border-bottom-color: #d3d3d3;
  position: absolute;
  bottom: -26px;
  left: 37%;
}
.tab .nav-tabs li.active a:after{
  border-bottom-color: #fff;
  bottom: -27px;
}
.tab .tab-content{
  font-size: 14px;
  color: #333;
  background: #fdfdfd;
  line-height: 25px;
  padding: 20px 25px;
  margin-top: 25px;
  border: 1px solid #ddd;
}
.tab .tab-content h2{
  font-size: 30px;
}
@media only screen and (max-width: 320px){
  .tab .nav-tabs li{
      width:100%;
      margin-bottom: 5px;
  }
  .tab .nav-tabs li a{
      padding: 20px;
      border-radius: 0;
  }
  .tab .nav-tabs li.active a:before,
  .tab .nav-tabs li.active a:after{
      border: none;
  }
  .tab .tab-content{
      margin-top: 5px;
  }
}