.ex{
  height: 100px;
}
.rw{
  font-family: "Open Sans", sans-serif;
}
.newco{
  margin-left: 30%;
}
.newc{
  margin-left: 30%;
}
.cen{
  margin-left: 30%;
}
.ncen{
  margin-left: 25%;
}
.markc{
  margin-left: 10%;
}
.form{
  font-family: "Open Sans", sans-serif;
}
.input-form{
  position: relative;
  border:none;
  border-color: transparent;
  outline: none; 
  border-bottom: 1px solid #CCC;
  color: #555;
  width: 300px;   
}
.Guidence{
  margin-top: -5%;
}
.keyf{
  margin-top: -1%;
}
fieldset 
{
  border: 1px solid #ddd !important;
  margin: 0;
   
  padding: 15px;       
  position: relative;
  border-radius:4px;
  background-color:#f5f5f5;
  padding-left:10px!important;
}	

  legend
  {
    font-size:14px;
    font-weight:bold;
    margin-bottom: 0px; 
    width: 15%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #ffffff;
  }
.button{
  border-radius: 5px;
  margin-top: 10px;    
}
.data{ 
opacity: 0.2;
margin-top: 8%;
height: 60%;

}
.fcolor{
color:white;
}
.back1{
  background-color: #4176e7;
}


.demo{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-width: 1px;
}
.card mb-2 {
  background-color: #fff;
  padding: 1.0rem;
  box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
  margin-bottom: 24px;
  border-radius: .25rem;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.aa{
  height: 430px;
}

#btn{
  position: relative;
  left:72%;
}
#bt{
margin-left: 90%;
}

.tableview{

margin-left: -65px;
}
.mdi-eye{
color:cornflowerblue;
}

#abc{
  margin-top:0px;
}

#pqr{
margin-left: -1%;
} 
.fade{
  opacity: 1;
  -webkit-transition: opacity is linear;
  transition: opacity is linear;
  }
#a{
width: 500%;
}
#E1{
margin-left: 700px;
}

#b1{
margin-left: 10px;
}

#b2{
margin-left: 14px;
}
#searchbar{
width: 95%;
}
.ex1{
height:970px;
overflow: scroll;
background:rgb(255, 255, 255);
padding-left: 2%;

}
hr.new1 {
  border-top: 1px solid rgba(134, 126, 126, 0.548);
  margin-top: -1%;
}
.dat{
  margin-top: -5%;
  margin-left: 3%;
  margin-bottom: 2%;
}

.modal-size{
max-width: 800px;
}
.modal-centered{
text-align: center;
}
.new1{
margin-top: -3%;
}
.ex2{
  height: 9%;
  width: 104%;
}
.t{
  width: 104%;
}
.exp2{
width: 104%;
height: 10%;
}
.backcolor{
color: green;
}
.icon{
text-align: right;
margin-right:10%;
}
.icon1{
  text-align: right;
  margin-left:-7%;
  }
  .icon2{
    text-align: right;
    margin-left:18%;
    }
.all{
  margin-left: -10%;
}
 
.head{
  margin-top: -2.4%;
  margin-left: -2.4%;
margin-right: -2.4%;

}

.btnedit{
  margin-left: 87.8%;
}
  .le{
    margin-left: 1%;
  }
  .expl2{
    width: 104%;
  }

  /* Desktop Styles */
@media screen and (min-width: 1200px)  {
  .btn1{
      left: 8%;
     
  }
  .del{
    left: 1.8%;
   
}
}
 
/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .btn1{
      left: 4.5%;
      
  }
  .del{
    left: 1%;
    /* text-decoration: none;
  display: inline-block; */
  padding: 0px;

  }
  .edit1{
    margin-left: 1%;
  }
   
  .ex1{
    margin-left: 3%;
  }

  .new1{
    margin-bottom: 5%;
  }
  .unqualified{
    width: 30%;
  }
  .new{
    width: 30%;
  }
  .working{
    width: 30%;
  }
  .nurt{
    margin-left: 7%;
    width: 30%;
  }
  .convert{
    width: 28%;
  }
  .newco{
    margin-left: 10%;
  }
  .newc{
    margin-left: 5%;
  }
  .cen{
    margin-left: 20%;
  }
  .ncen{
    margin-left: 15%;
  }
  .markc{
    margin-left: 0%;
  }
}
/* Mobile Styles */
@media screen and (max-width: 320px) {
  .btn1{
      left: 0.1%;
     
  }
  .bt2{
    width: 41.8%;
    
  }
   
  .del{
    left: 5%;
    margin-top: 2%;
  }
  .ex1{
    margin-left: 3%;
  }

   
}

  .button{
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  a:hover,a:focus{
    text-decoration: none;
    outline: none;
  }
  .tab .nav-tabs{
    border-bottom: 0 none;
  }
   
  .tab .nav-tabs li a{
    padding: 8px 12px;

    color: #888;
    background:#2f55a4;
    border-radius: 40%;
     
  }
  
  .tab .nav-tabs li.active a,
  .tab .nav-tabs li.active a:focus,
  .tab .nav-tabs li.active a:hover{
    background: #d96459;
    color: #fff;
    border-color: #d96459;
    transition: background 0.20s linear 0s;
  }
  .tab .nav-tabs li.active a:before,
  .tab .nav-tabs li.active a:after{
    content: "";
    border: 13px solid transparent;
    border-bottom-color: #d3d3d3;
    position: absolute;
    bottom: -26px;
    left: 37%;
  }
  .tab .nav-tabs li.active a:after{
    border-bottom-color: #fff;
    bottom: -27px;
  }
  .tab .tab-content{
    font-size: 12px;
    color: #333;
    background: #fdfdfd;
    line-height: 25px;
    padding: 20px 25px;
    margin-top: 25px;
    border: 1px solid #ddd;
  }
  .tab .tab-content h2{
    font-size: 30px;
  }
  @media only screen and (max-width: 320px){
    .tab .nav-tabs li{
        width:100%;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li a{
        padding: 20px;
        border-radius: 0;
    }
    .tab .nav-tabs li.active a:before,
    .tab .nav-tabs li.active a:after{
        border: none;
    }
    .tab .tab-content{
        margin-top: 5px;
    }
  }

  @media only screen     
  and (max-device-width : 1024px)  
  { 
    .btn1{
      left: 0.1;
     margin-left: -0.5%;
    }
    
    .del{
    left: -2%;
    }
    
  .convert{
    margin-top: 0.3%;
    width: 25%;
  }
  .nurt{
    margin-left: 8%;
    margin-top: 0.3%;
    width: 25%;
  }
  .unqualified{
    width: 25%;
  }
  .new{
    width: 25%;
  }
  .working{
    width: 28%;
  }
  .aa{
    height: 480px;
  }
  .aas{
    height: 550px;
  }
  
.newco{
  margin-left: 10%;
}
.newc{
  margin-left: 5%;
}
.cen{
  margin-left: 20%;
}
.ncen{
  margin-left: 15%;
}
.markc{
  margin-left: 0%;
}
.modal-size{
  max-width: 600px;
}
.modal-centered{
  text-align: center;
}

.modal-body{
height: 450px;
overflow: hidden;
}
.modal-body:hover{
overflow-y: auto;
}

  }
 
  /* Desktop Styles */
@media screen and (min-width: 1440px)  {
  .btn1{
    left: 3.3%;
  }
  .del{
    left: -3%;
  }
  .unqualified{
    width: 30%;
  }
  .new{
    width: 30%;
  }
  .working{
    width: 30%;
  }
  .nurt{
    width: 30%;
    margin-left: 5.5%;
  }
  .convert{
    width: 30%;
  }
  .mark{
    width: 30%;
  }
  .aa{
    height: 480px;
  }
  .ex1{
    height: 1050px;
  }
  .newco{
    margin-left: 25%;
  }
  .newc{
    margin-left: 20%;
  }
  .cen{
    margin-left: 30%;
  }
  .ncen{
    margin-left: 25%;
  }
  .markc{
    margin-left: 10%;
  }
  .modal-size{
    max-width: 700px;
  }
  .modal-centered{
    text-align: center;
  }
  
  .modal-body{
  height: 500px;
  overflow: hidden;
  }
  .modal-body:hover{
  overflow-y: auto;
  }
}
  /* Tablet Styles */
@media only screen and (max-width: 768px) {
 
  .modal-size{
    max-width: 600px;
  }
  .modal-centered{
    text-align: center;
  }
  
  .modal-body{
  height: 500px;
  overflow: hidden;
  }
  .modal-body:hover{
  overflow-y: auto;
  }
  .nurt{
    margin-left: 6.5%;
  }
}