<app-header *ngIf="loggedIn"></app-header>
<!-- Begin page -->
<div id="wrapper" class="rw">
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid">
                
                <div class="row">
                    <div class="col-lg-4 order-lg-1 order-2 ex1">
                        <div class="card mb-2">
                            <div class="card-body ex">
                                <h4 class="header-title mb-1 bg-light label ">All Tasks</h4>
                                
                                <div class="input-group mb-3" id="searchbar">
                                    <input (keypress)="searchTitle()" (keyup)="searchTitle()" type="text"
                                     class="form-control" placeholder="Search by Subject"
                                        [(ngModel)]="subject" />
                                        <div class="btn-group mb-1">
                                            <button type="button" class="btn dropdown-toggle back1"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-view-list mdi-12px fcolor"></i><span
                                                    class="pro-user-name ml-1"><i
                                                        class="mdi mdi-chevron-down fcolor"></i></span> </button>

                                            <div class="dropdown-menu tableview">
                                                <li> <a routerLink="/Task-split-view" class="dropdown-item"
                                                    routerLinkActive="active"> <i class="mdi mdi-check-bold backcolor"></i> Split view</a></li>
                                                 <li>      
                                                <a routerLink="/view" class="dropdown-item "
                                                    routerLinkActive="active">
                                                     <i class="mdi mdi-view-split-vertical"></i>
                                                     Table view</a>
                                                    </li> 
                                            </div>
                                        </div>
                                   
                                </div>

                               
                            </div>
                        </div>
                        <hr class="new1">
                        <div class="mb-0 dat" (click)="toggle(tasks)" *ngFor="let tasks of tutorials" 
                            id="custom-v-pills-shipping-tab" data-toggle="pill" href="#custom-v-pills:shipping"
                            role="tab" aria-controls="custom-v-pills-shipping" aria-selected="false">
                          
                               
                                <div class="row">
                                    <div class="col-sm-4">
                                        <h5>
                                            <label
                                                class="text-muted font-13 mb-0 text-truncate">Subject</label>
                                                <div>
                                             <h5>   <a href="" (click)="toggle(tasks)">{{tasks.subject}}</a> </h5>
                                                </div>
                                        </h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5>
                                            <label
                                                class="text-muted font-13 mb-0 text-truncate">Status</label>
                                                <div>
                                                   <h5> {{tasks.status}}</h5>
                                                </div>
                                        </h5>
                                    </div>
                                    <div class="col-sm-4">
                                        <h5>
                                            <label
                                                class="text-muted font-13 mb-0 text-truncate">Due Date</label>
                                                <div>
                                                   <h5> {{tasks.date1}}</h5>
                                                </div>
                                        </h5>
                                     </div>
                                </div>
                                <hr class="new1">
                                
                           
                        </div> <!-- end card-box-->

                    </div> <!-- end col -->

                    <!-- split area  -->

                    <div class="col-lg-8 order-lg-1 order-1 ">
                        <ng-container *ngIf="hide">
                            <div class="container mt-5">
                                <div class="row">
                                  <div class="col text-center">
                                    <img src="assets/images/data.jpg" alt="" class="img-fluid data">
                                    <h4 class="text-primary">Please select any data from the list</h4>
                                  </div>
                                </div>
                            </div>
                        </ng-container>

                         
                             <ng-container *ngIf="show"> 
                                <div class="card-box exx">
                                
                                    
                                        <h4 class="header-title bg-light abc">Tasks</h4>
                                        <form [formGroup]="editForm">
                                             
                                            <div class="row">
                                                <div class="col-sm-7">
                                                    <h4>  <input matInput formControlName="subject" name="subject"
                                                        [(ngModel)]="selectedPolicy.subject" parsley-type="subject"></h4>
                                                </div>
                                                <div class="col-sm-2 btn1">
                                                    <button class="btn btn-primary d-flex align-items-center bt2 back1" data-toggle="modal" data-target="#modal">  <i class="mdi mdi-square-edit-outline mr-1"></i>Edit</button>
                                                </div>
                                                <div class="col-sm-2 del">
                                                    <button class="btn btn-primary d-flex align-items-center back1" (click)="deleteTasks(selectedPolicy.id)"><i class="mdi mdi-delete mr-1"></i>Delete</button>
                                                </div>
                                            </div>
                                        </form>
                                    
                                </div>
                            <div class="card-box exx2">
                                <h4 class="header-title mb-2 bg-light abc">Tasks Information</h4>
                                <form class="abc" [formGroup]="editForm">
                                    <div class="form-group-form-row">
                                        <div class="row">
                                            
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="form-group">

                                                <mat-form-field>
                                                    <h5>
                                                        <label class="text-muted font-13 mb-0 text-truncate">Assinged
                                                            To</label>
                                                        <input matInput formControlName="assigned" name="assigned"
                                                            [(ngModel)]="selectedPolicy.assigned"
                                                            parsley-type="assigned">
                                                    </h5>
                                                </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="form-group">
                                                <mat-form-field>
                                                    <h5>
                                                        <label
                                                            class="text-muted font-13 mb-0 text-truncate">Priority</label>
                                                        <input matInput formControlName="priority" name="priority"
                                                            [(ngModel)]="selectedPolicy.priority"
                                                            parsley-type="priority">
                                                    </h5>
                                                </mat-form-field>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="form-group">
                                                <mat-form-field>
                                                    <h5>
                                                        <label class="text-muted font-13 mb-0 text-truncate">Due
                                                            Date</label>
                                                        <input matInput formControlName="date1" name="date1"
                                                            [(ngModel)]="selectedPolicy.date1" parsley-type="date1">
                                                    </h5>
                                                </mat-form-field>
                                                </div>
                                            </div>
                                         
                                     
                                            <div class="col-xs-6 col-sm-3">
                                                <div class="icon">
                                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#mod"
                                                    class="action-icon">
                                                    <i class="mdi mdi-square-edit-outline col-lg-12"></i></a>
                                                </div>
                                             
                                            </div>
                                    </div>
                                    
                                    </div>
                                </form>
                               

                            </div>        
                        </ng-container>

                    <ng-container *ngIf="show">
                        <div class="col-lg-8 order-lg-2 order-1">


 







                            <div class="modal fade" id="mod1" *ngIf="selectedPolicy" tabindex="-1" role="dialog"
                                aria-hidden="true">
                                <!-- <ng-template #editProfileModal let-modal> -->
                                <div class="modal-dialog modal-dialog-centered modal-size">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light">
                                            <h4 class="modal-title"  id="myCenterModalLabel" id="pqr">Edit Additional
                                                Information</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">x</button>
                                        </div>

                                        <div class="modal-body p-4">
                                            <form class="form-horizontal" [formGroup]="addForm" class="form">
                                                <div>
                                                    <p class="bg-light label">Additional Information</p>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label" for="heard">Priority</label>
                                                            <select class="form-control input"
                                                                formControlName="priority"
                                                                [(ngModel)]="selectedPolicy.priority" name="priority"
                                                                required="">
                                                                <option value="">--None--</option>
                                                                <option value="High">High</option>
                                                                <option value="Normal">Normal</option>
                                                                <!-- <option value="cold">Cold</option> -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label">Comments</label>
                                                            <input type="text" formControlName="comments"
                                                                [(ngModel)]="selectedPolicy.comments"
                                                                required="true" name="comments"
                                                                class="form-control input" required
                                                                placeholder="Type something" />
                                                            <!-- <small class="text-danger" *ngIf="addForm.get('comments').hasError('required') && addForm.get('comments').touched">Name is Required</small> -->
                                                        </div>

                                                    </div>

                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label" for="heard">Status</label>
                                                            <select class="form-control input" formControlName="status"
                                                                [(ngModel)]="selectedPolicy.status" name="status"
                                                                required="">
                                                                <option value="">--None--</option>
                                                                <option value="0">Open</option>
                                                                <option value="1">Completed</option>
                                                                <!-- <option value="cold">Cold</option> -->
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group mb-0 button">
                                                            <div>
                                                                <button type="submit"
                                                                    (click)="updateForm(selectedPolicy.id)"
                                                                    class="close" data-dismiss="modal"
                                                                    (click)="modal.dismiss()" aria-hidden="true"
                                                                    class="btn btn-primary button"
                                                                    id="b2">Update</button>
                                                                <button type="reset" class="close" data-dismiss="modal"
                                                                    (click)="modal.dismiss()" aria-hidden="true"
                                                                    class="btn btn-secondary waves-effect m-l-5 button"
                                                                    id="b1">
                                                                    Cancel </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- </ng-template> -->
                                </div>
                            </div>




                            <div class="modal fade" id="mod2" *ngIf="selectedPolicy" tabindex="-1" role="dialog"
                                aria-hidden="true">
                                <!-- <ng-template #editProfileModal let-modal> -->
                                <div class="modal-dialog modal-dialog-centered modal-size">
                                    <div class="modal-content">
                                        <div class="modal-header bg-light">
                                            <h4 class="modal-title" id="myCenterModalLabel" id="pqr">Edit Other
                                                Information</h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">x</button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <form class="form-horizontal" [formGroup]="addForm" class="form">
                                                <div>
                                                    <p class="bg-light label">Other Information</p>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label">Rem_Date</label>
                                                            <input type="date" formControlName="date2"
                                                                [(ngModel)]="selectedPolicy.date2" name="date2"
                                                                class="form-control input" required
                                                                placeholder="Type something" />
                                                            <small class="text-danger"
                                                                *ngIf="addForm.get('date2').hasError('required') && addForm.get('date2').touched">Date
                                                                is Required</small>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <div class="form-group">
                                                            <label class="label">Rem_Time</label>
                                                            <input id="appt-time" type="time" name="time1"
                                                                class="form-control input" formControlName="time1"
                                                                [(ngModel)]="selectedPolicy.time1" step="2">
                                                            <!-- <input type="time" formControlName="time1" name="time1" class="form-control input" required
                                                                placeholder="Type something"/>
                                                                <small class="text-danger" *ngIf="addForm.get('time1').hasError('required') && addForm.get('time1').touched">time is Required</small> -->
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="row">
                                                    <div class="form-group mb-0 button">
                                                        <div>
                                                            <button type="submit"
                                                                (click)="updateForm(selectedPolicy.id)" class="close"
                                                                data-dismiss="modal" (click)="modal.dismiss()"
                                                                aria-hidden="true" class="btn btn-primary button"
                                                                id="b2">Update</button>

                                                            <button type="reset" class="close" data-dismiss="modal"
                                                                (click)="modal.dismiss()" aria-hidden="true"
                                                                class="btn btn-secondary waves-effect m-l-5 button"
                                                                id="b1">
                                                                Cancel
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- </ng-template> -->
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal" *ngIf="selectedPolicy" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <ng-template #editProfileModal let-modal> -->
    <div class="modal-dialog modal-dialog-centered modal-size">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title" id="myCenterModalLabel">Edit Tasks</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>

            <div class="modal-body p-4">
                <form class="form-horizontal" [formGroup]="editForm" class="form">
                    <div>
                        <p class="bg-light label">Task Information</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Subject</label>
                                        <input type="text" formControlName="subject"
                                            [(ngModel)]="selectedPolicy.subject" required="true" name="subject"
                                            class="form-control input" required placeholder="Type something" />
                                        <small class="text-danger"
                                            *ngIf="addForm.get('subject').hasError('required') && addForm.get('subject').touched">Subject
                                            is Required</small>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Assigned To</label>
                                        <input type="text" formControlName="assigned"
                                            [(ngModel)]="selectedPolicy.assigned" required="true" name="assigned"
                                            class="form-control input" required placeholder="Type something" />
                                        <small class="text-danger"
                                            *ngIf="addForm.get('assigned').hasError('required') && addForm.get('assigned').touched">Assigned
                                            To is Required</small>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Due Date</label>
                                        <input type="date" formControlName="date1" [(ngModel)]="selectedPolicy.date1"
                                            name="date1" class="form-control input" required
                                            placeholder="Type something" />
                                        <small class="text-danger"
                                            *ngIf="addForm.get('date1').hasError('required') && addForm.get('date1').touched">Date
                                            is Required</small>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Name</label>
                                        <input type="text" formControlName="t_name" [(ngModel)]="selectedPolicy.t_name"
                                            required="true" name="t_name" class="form-control input" required
                                            placeholder="Type something" />
                                        <small class="text-danger"
                                            *ngIf="addForm.get('t_name').hasError('required') && addForm.get('t_name').touched">Name
                                            is Required</small>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Comments</label>
                                        <input type="text" formControlName="comments"
                                            [(ngModel)]="selectedPolicy.comments" required="true" name="comments"
                                            class="form-control input" required placeholder="Type something" />
                                        <!-- <small class="text-danger" *ngIf="addForm.get('comments').hasError('required') && addForm.get('comments').touched">Name is Required</small> -->
                                    </div>

                                </div>

                            </div>
                            <div>
                                <p class="bg-light label">Additional Information</p>
                            </div>
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label" for="heard">Priority</label>
                                        <select class="form-control input" formControlName="priority"
                                            [(ngModel)]="selectedPolicy.priority" name="priority" required="">
                                            <option value="">--None--</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <!-- <option value="cold">Cold</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label" for="heard">Status</label>
                                        <select class="form-control input" formControlName="status"
                                            [(ngModel)]="selectedPolicy.status" name="status" required="">
                                            <option value="">--None--</option>
                                            <option value="0">Open</option>
                                            <option value="1">Completed</option>
                                            <!-- <option value="cold">Cold</option> -->
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <p class="bg-light label">Other Information</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Rem_Date</label>
                                        <input type="date" formControlName="date2" [(ngModel)]="selectedPolicy.date2"
                                            name="date2" class="form-control input" required
                                            placeholder="Type something" />
                                        <small class="text-danger"
                                            *ngIf="addForm.get('date2').hasError('required') && addForm.get('date2').touched">Date
                                            is Required</small>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Rem_Time</label>
                                        <input id="appt-time" type="time" name="time1" class="form-control input"
                                            formControlName="time1" [(ngModel)]="selectedPolicy.time1" step="2">
                                        <!-- <input type="time" formControlName="time1" name="time1" class="form-control input" required
                                                                            placeholder="Type something"/>
                                                                        <small class="text-danger" *ngIf="addForm.get('time1').hasError('required') && addForm.get('time1').touched">time is Required</small> -->
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group mb-0 button">
                                    <div>
                                        <button type="submit" (click)="updateForm(selectedPolicy.id)" class="close"
                                            data-dismiss="modal" (click)="modal.dismiss()" aria-hidden="true"
                                            class="btn btn-primary button" id="b2">Update</button>

                                        <button type="reset" class="close" data-dismiss="modal"
                                            (click)="modal.dismiss()" aria-hidden="true"
                                            class="btn btn-secondary waves-effect m-l-5 button" id="b1">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- </ng-template> -->
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title" id="myCenterModalLabel">Edit Task Information</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="editForm"
                 class="form-horizontal"  class="form">
                    <div class="form-group">
                        <label class="label">Subject</label>
                        <input type="text" formControlName="subject"
                            [(ngModel)]="selectedPolicy.subject"
                            required="true" name="subject"
                            class="form-control input" required
                            placeholder="Type something" />
                        <small class="text-danger"
                            *ngIf="addForm.get('subject').hasError('required') && addForm.get('subject').touched">Subject
                            is Required</small>
                    </div>
                    <div class="form-group">
                        <label class="label">Assigned To</label>
                        <input type="text" formControlName="assigned"
                            [(ngModel)]="selectedPolicy.assigned"
                            required="true" name="assigned"
                            class="form-control input" required
                            placeholder="Type something" />
                        <small class="text-danger"
                            *ngIf="addForm.get('assigned').hasError('required') && addForm.get('assigned').touched">Assigned
                            To is Required</small>
                    </div>
                    <div class="form-group">
                        <label class="label">Due Date</label>
                        <input type="date" formControlName="date1"
                            [(ngModel)]="selectedPolicy.date1" name="date1"
                            class="form-control input" required
                            placeholder="Type something" />
                        <small class="text-danger"
                            *ngIf="addForm.get('date1').hasError('required') && addForm.get('date1').touched">Date
                            is Required</small>
                    </div>

                    <div class="text-right">
                        <div class="row">
                            <div class="form-group mb-0 button">
                                <div>
                                    <button type="submit"
                                    (click)="updateForm(selectedPolicy.id)"
                                    class="close" data-dismiss="modal"
                                    aria-hidden="true"
                                    class="btn btn-primary button"
                                    id="b2">Update</button>

                                <button type="reset" class="close"
                                    data-dismiss="modal" 
                                    aria-hidden="true"
                                    class="btn btn-secondary waves-effect m-l-5 button"
                                    id="b1">
                                    Cancel
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->