.rw{
  font-family: "Open Sans", sans-serif;
}
.form{
  font-family: "Open Sans", sans-serif;
}
.mat{
  width: 25%;
}
.mat-fo{
  width: 3%;
}
.mat-form{
  width: 7%;
}
.mat-form-fi{
  width: 10%;
}
#lab{
  color: white;
  margin-left: 3  px;
}
.fcolor{
  color: white;
}
  .button{
    border-radius: 5px;
    margin-top: 10px;    
}
hr.new1 {
  border-top: 1px solid rgba(134, 126, 126, 0.548);
  margin-top: 1%;
}
.tableview{
  
  margin-left: -65px;
}
.data{ 
  opacity: 0.2;
  margin-top: 8%;
  height: 60%;
}
.ex1{
  height: 600px;
  overflow: scroll;
  background:rgb(255, 255, 255);

}
.ex{
  height: 90px;
}
.new1{
  margin-top: -1.5%;
}
.backcolor{
  color: green;
}
.all{
  margin-left: -8%;
}
 .exp2{
  width: 104%;
  height: 18%;
 }
 .icon{
  text-align: right;
  margin-left:28%;
  }
#searchbar{
  width: 97%;
}


#butt{

  margin-top: -50px;
}

.mdi-eye{
  color:cornflowerblue;
}

.input-form{
  position: relative;
  border:none;
  border-color: transparent;
  outline: none; 
  border-bottom: 1px solid #CCC;
  color: #555;
  width: 300px; 

   
}


.button{
  border-radius: 5px;
  margin-top: 10px;    
}

.content-page {
margin-left: 40px;
margin-right: 5px;
overflow: hidden;
padding: 0 15px 65px 15px;
min-height: 80vh;
margin-top: 100px;
}

.card-box-2 {
background-color: #fff;
padding: 1.5rem;
box-shadow: 0 0.75rem 6rem rgba(56,65,74,.03);
margin-bottom: 24px;
border-radius: .25rem;

}

#btn{
position: relative;
left:72%;
}
#bt{
  margin-left: 90%;
}

#b1{
margin-left: 10px;
}

#b2{
margin-left: 14px;
}

 
 
#E2{
margin-left:340px; 
}
.head{
  margin-top: -2.4%;
  margin-left: -2.4%;
margin-right: -2.4%;

}

hr.new1 {
  border-top: 1px solid rgba(134, 126, 126, 0.548);
  margin-top: 1%;
}
.dat{
  margin-top: -5%;
  margin-left: 3%;
  margin-bottom: 2%;
}
.modal-size{
  max-width: 800px;
}
.modal-centered{
  text-align: center;
}
.label{
  font-size: 15px;
}
.button{
  margin-left: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  
}

  .expl2{
    width: 104%;
    height: 15%;
  }
  
  .back1{
    background-color: #4176e7;
    
   }
 /* Desktop Styles */
 @media screen and (min-width: 1200px)  {
  .btn1{
      left: 17%;
     
  }
  .del{
    left: 10.5%;
   
}
}
 
/* Tablet Styles */
@media only screen and (max-width: 768px) {
  .btn1{
      left: 9%;
      
  }
  .del{
    left: 7%;
    /* text-decoration: none;
  display: inline-block; */
  padding: 0px;

  }
  .edit1{
    margin-left: 1%;
  }
  .ex1{
    margin-left: 2%;
    width: 106%;
  }
  .dat{
    margin-top: 0.5%;
  }
}
/* Mobile Styles */
@media screen and (max-width: 320px) {
  .btn1{
      left: 0.1%;
     
  }
  .bt2{
    width: 43.3%;
    
  }
   
  .del{
    left: 5%;
    margin-top: 2%;
  }
  .ex1{
    margin-left: 3%;
  }
  
   
}

@media only screen and (max-device-width : 1024px)    {
  .btn1{
      left: 8.3%;
     
  }
  .del{
    left: 4.3%;
   
}
}