#btn{
    position: relative;
    left: 920px;
}
.rw{

    font-family: "Open Sans", sans-serif;
  }
  .form{
    font-family: "Open Sans", sans-serif;
  }

.modal-size{
    max-width: 800px;
}
.modal-centered{
    text-align: center;
}
.label{
    font-size: small;
    font-family: "Open Sans", sans-serif;

}
.button{
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}
.splitOp{
    left: 12.2%;
}
.button2{
    background-color: #4176e7;
}

.lead{
    margin-top: -22px;
}
.input{
    height: 35px;
}
.back1{
    background-color: #4176e7;
  }
.head{
    text-align: center;
}
.modal-body{
    height: 550px;
    overflow: hidden;
}
.modal-body:hover{
    overflow-y: auto;
}
.back1{
    background-color: #3C69C9; 
    
   }
   .fcolor{
    color: white;
  }
.popupheader{
    color: white;
}
.fade{
    opacity: 1;
    -webkit-transition: opacity is linear;
    transition: opacity is linear;
}

.mod{
    border-radius: 20px;
}

.backcolor{
    color: green;
}


  @media only screen and (max-width: 1440px) {
    .splitOp{
        left: 10.4%;
       
    }
     
  }

/* Laptop Styles */
@media  screen and (max-device-width : 1024px) {
    .splitOp{
        left: 3.4%;
        margin-top: -0.8%;
    }
    
  }
/* Tablet Styles */
@media screen and (max-device-width : 768px) {
    .splitOp{
        left: 35%;
        margin-top: -5.5%;
    }
    
  }

  /* Mobiles Styles */
  @media only screen   
  and (min-device-width : 320px)   
  and (max-device-width : 480px)   {
    .splitOp{
        left:-7%;
        margin-top: 1%;
    }
     
  }