<app-header *ngIf="loggedIn"></app-header>
<!-- Begin page -->
<div id="wrapper" class="rw">
    <div class="content-page">
        <div class="content">
            <!-- Start Content-->
            <div class="container-fluid ">
                <br>
                
                <div class="row">
                    <div class="col-12">
                        <div class="card-box exp2">
                            <h4 class="header-title">Tasks Information</h4>
                            <div class="mb-2">
                                <div class="row">
                                    <div class="col-12 text-sm-center form-inline">
                                        <div class="form-group mr-2">
                                            <select id="demo-foo-filter-status" class="custom-select custom-select-sm">
                                                <option value="">Show all</option>
                                                <option value="active">Active</option>
                                                <option value="disabled">Disabled</option>
                                                <option value="suspended">Suspended</option>
                                            </select>
                                        </div>
                                       
                                        <div class="form-group">
                                            <input id="demo-foo-search" type="text" placeholder="Search"
                                                class="form-control form-control-sm" autocomplete="on">
                                        </div>
                                    

                                        
                                        <div class="col-sm-8 splitOp">
                                            <div class="text-sm-right">
                                                <div class="btn-group mb-1">

                                                    <button type="button" class="btn button2 waves-effect waves-light ml-2" data-toggle="modal" data-target="#task-modal"><i class="mdi mdi-plus-circle mr-1 fcolor"></i><span class="fcolor">New</span></button> &nbsp;&nbsp;
                                                   
                
                                                    <button type="button"  class="btn button2 dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class="mdi mdi-view-list mdi-12px fcolor"></i><span
                                                            class="pro-user-name mr-1"><i
                                                                class="mdi mdi-chevron-down fcolor" ></i></span> </button>

                                                    <div class="dropdown-menu">
                                                        <li>
                                                            <a routerLink="/view" class="dropdown-item "
                                                            routerLinkActive="active">
                                                             <i class="mdi mdi-check-bold backcolor"></i>
                                                             Table view</a>
                                                        </li>
                                                        <li>
                                                        <a routerLink="/Task-split-view" class="dropdown-item"
                                                            routerLinkActive="active"> <i
                                                                class="mdi mdi-view-split-vertical "></i> Split view</a>
                                                            </li>     
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end col-->
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table id="demo-foo-filtering" class="table table-bordered toggle-circle mb-0"
                                    data-page-size="7">
                                    <thead>
                                        <tr>
                                            <th data-toggle="true">Subject</th>
                                            <th data-hide="phone">Assigned</th>
                                
                                            <th data-toggle="true">Status</th>
                                            <th data-toggle="true">Name</th>
                                       
                                            <th data-toggle="true">Priority</th>
                                            
                                            <th data-hide="phone">Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr *ngFor="let task of tasks">

                                            <td><a routerLink="/Task-status/{{task.id}}" (click)="uptasks(task.id)"
                                                    routerLinkActive="active">
                                                    {{task.subject}}</a></td>
                                            <!-- <td>{{task.subject}}</td> -->
                                            <td>{{task.assigned}}</td>
                                  
                                            <td>{{task.status}}</td>
                                            <td>{{task.t_name}}</td>
                          
                                            <td>{{task.priority}}</td>
                                         
                                            <td>
                                                <!-- <a href="javascript:void(0);" (click)="openMod(editProfileModal, contacts)" (click)="upcontacts(contacts.id)" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>   -->

                                                <a href="javascript:void(0);" (click)="selectPolicy(task)"
                                                    data-toggle="modal" data-target="#modal" class="action-icon">
                                                    <i class="mdi mdi-square-edit-outline"></i></a>

                                                <a href="javascript:void(0);" (click)="deleteTasks(task.id)"
                                                    class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="active">
                                            <td colspan="10">
                                                <div class="text-right">
                                                    <ul
                                                        class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0">
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div> <!-- end .table-responsive-->
                        </div> <!-- end card-box -->
                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div> <!-- container -->

        </div> <!-- content -->
    </div><!-- End Page content -->

</div><!-- END wrapper -->

<div class="modal fade" id="modal" *ngIf="selectedPolicy" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <ng-template #editProfileModal let-modal> -->
    <div class="modal-dialog modal-dialog-centered modal-size">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title" id="myCenterModalLabel">Update Task</h4>
                <button type="button" class="close" (click)="resetForm();" data-dismiss="modal" aria-hidden="true">×</button>
            </div>

            <div class="modal-body p-4">
                <form class="form-horizontal" (ngSubmit)="onSubmittasks()" [formGroup]="addForm" class="form">
                    <div>
                        <p class="bg-light font-weight-bold label">Task Information</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Subject</label>
                                        <input type="text" formControlName="subject"
                                            [(ngModel)]="selectedPolicy.subject" required="true" name="subject"
                                            class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.subject.errors }" placeholder="Type something" />
                                        
                                            <div *ngIf="submitted && t.subject.errors" class="invalid-feedback">
                                                <div *ngIf="t.subject.errors.required">Subject is required</div>
                                          </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Assigned To</label>
                                        <input type="text" formControlName="assigned"
                                            [(ngModel)]="selectedPolicy.assigned" required="true" name="assigned"
                                            class="form-control input"  placeholder="Type something" />
                                        
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Due Date</label>
                                        <input type="date" formControlName="date1" [(ngModel)]="selectedPolicy.date1"
                                            name="date1" class="form-control input" 
                                            placeholder="Type something" />
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Name</label>
                                        <input type="text" formControlName="t_name" [(ngModel)]="selectedPolicy.t_name"
                                            required="true" name="t_name" class="form-control input"  
                                            placeholder="Type something" />
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Comments</label>
                                        <input type="text" formControlName="comments"
                                            [(ngModel)]="selectedPolicy.comments" required="true" name="comments"
                                            class="form-control input"  placeholder="Type something" />
                                    </div>

                                </div>

                            </div>
                            <div>
                                <p class="bg-light font-weight-bold label">Additional Information</p>
                            </div>
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label" for="heard">Priority</label>
                                        <select class="form-control input" formControlName="priority"
                                            [(ngModel)]="selectedPolicy.priority" name="priority" [ngClass]="{ 'is-invalid': submitted && t.priority.errors }">
                                            <option value="">--None--</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <!-- <option value="cold">Cold</option> -->
                                        </select>
                                        <div *ngIf="submitted && t.priority.errors" class="invalid-feedback">
                                            <div *ngIf="t.priority.errors.required">Priority is required</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label" for="heard">Status</label>
                                        <select class="form-control input" formControlName="status"
                                            [(ngModel)]="selectedPolicy.status" name="status" [ngClass]="{ 'is-invalid': submitted && t.status.errors }">
                                            <option value="">--None--</option>
                                            <option value="0">Open</option>
                                            <option value="1">Completed</option>
                                            <!-- <option value="cold">Cold</option> -->
                                        </select>
                                        <div *ngIf="submitted && t.status.errors" class="invalid-feedback">
                                            <div *ngIf="t.status.errors.required">Status is required</div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <p class="bg-light font-weight-bold label">Other Information</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Remainder Date</label>
                                        <input type="date" formControlName="date2" [(ngModel)]="selectedPolicy.date2"
                                            name="date2" class="form-control input"  
                                            placeholder="Type something" />
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Remainder Time</label>
                                        <input id="appt-time" type="time" name="time1" class="form-control input"
                                            formControlName="time1" [(ngModel)]="selectedPolicy.time1" step="2" >
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="form-group mb-0 button">
                                    <div>
                                        <button type="submit" (click)="updateForm(selectedPolicy.id)"  aria-hidden="true"
                                            class="btn btn-primary button" id="b2">Update</button>

                                        <button type="reset" class="close" data-dismiss="modal"
                                            (click)="modal.dismiss()" aria-hidden="true" (click)="resetForm();"
                                            class="btn btn-secondary waves-effect m-l-5 button" id="b1">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- </ng-template> -->
    </div>
</div>