.rw{

  font-family: "Open Sans", sans-serif;
}
.divv{
  margin-top: -6%;
}
.ttask{
  margin-top: 2%;
}
.spa{
  margin-top: -5%;
}
.divvv{
  margin-top: -10%;
}
.hrt{
  margin-top: -4%;
}
.test{
  margin-left: 40%;
  max-width: 30%;
  max-height: 70%;
  margin-top: 7.5%;
}
.new2{
  margin-inline-start: 3%;
  margin-inline-end: 3%;
  margin-top: 2%;
}
.size{
    margin-left: 1%;
}
.card-box
{
  max-width: 65%;
}
#wrapper{
  font: open sans;
}
.test1{
  margin-top: 20%;
  max-height: 70%;
  margin-left: 40%;
  max-width: 40%;
}

.assi{
  display:block;
    width:100%;
    height:60%;
    overflow:scroll;
    overflow-x: hidden;
}
.assh{
  display:block;
    width:100%;
    height:360px;
    overflow:scroll;
    overflow-x: hidden;
}
.pie{
  display:block;
    width:100%;
    height:495px;
    overflow:scroll;
    overflow-x: hidden;
}
.piecanva{
  height: 300px;
}

@media only screen and (max-width: 1440px){
  .assh{
    display:block;
      width:100%;
      height:240px;
      overflow:scroll;
      overflow-x: hidden;
  }
  .top{
    margin-top: -11%;
  }
  .pie{
    display:block;
      width:100%;
      height:450px;
      overflow:scroll;
      overflow-x: hidden;
  }
 }
@media only screen and (max-width: 1024px){
  .assh{
    display:block;
      width:100%;
      height:190px;
      overflow:scroll;
      overflow-x: hidden;
  }
  .pie{
    display:block;
      width:100%;
      height:370px;
      overflow:scroll;
      overflow-x: hidden;
  }
 }
 /* Tablet Styles */
@media only screen and (max-width: 768px) {
  .assh{
    display:block;
      width:100%;
      height:150px;
      overflow:scroll;
      overflow-x: hidden;
  }
  .divvv{
    margin-top: -5%;
  }
  .hrt{
    margin-top: -3%;
  }
  .divv{
    margin-top: -4%;
  }
  .pie{
    height: 500px;
  }
}