<!-- Begin page -->
<div id="wrapper" class="rw">
  

    <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">
                   
                   
                    <div class="row">
                      
                            <div class="col-lg-12 order-lg-2 order-1">
                                <div class="card-box expl2">
                                
                                     
                                        <h4 class="header-title mb-2 bg-light">Tasks</h4>
                                        <form [formGroup]="editForm">
                                            
                                            <div class="row">
                                                <div class="col-sm-7 ">
                                                    <h4>  <input matInput formControlName="subject" name="subject" [(ngModel)]="selectedPolicy.subject"
                                                        parsley-type="subject"></h4>
                                                </div>
                                                <div class="col-sm-2 btn1">
                                                    <button class="btn  align-items-center bt2 back1" data-toggle="modal" data-target="#modal" >  <i class="mdi mdi-square-edit-outline mr-1 fcolor"></i><span class="fcolor">Edit</span></button>
                                                </div>
                                                &nbsp;
                                                <div class="col-sm-2 del">
                                                    <button class="btn align-items-center back1" (click)="deleteTasks(editForm.value)" ><i class="mdi mdi-delete mr-1 fcolor"></i><span class="fcolor">Delete</span></button>
                                                </div>
                                             
                                            </div>
                                        </form>
                                    
                                </div>
                                    <div class="card-box-2 exp2">
                                        <h4 class="header-title mb-2 bg-light">Tasks Information</h4>
                                        <form [formGroup]="editForm">
                                            <div class="form-group-form-row">
                                                <div class="row">
                                                    
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="form-group">
                                                        <mat-form-field>
                                                             <h5>
                                                                    <label class="text-muted font-13 mb-0 text-truncate">Assinged To</label>
                                                                    <input matInput formControlName="assigned" name="assigned" [(ngModel)]="selectedPolicy.assigned"
                                                                        parsley-type="assigned">
                                                            </h5>
                                                        </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="form-group">
                                                        <mat-form-field>
                                                            <h5>
                                                                    <label class="text-muted font-13 mb-0 text-truncate">Due Date</label>
                                                                    <input matInput formControlName="date1" name="date1" [(ngModel)]="selectedPolicy.date1"
                                                                        parsley-type="date1">
                                                            </h5>
                                                        </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-3">
                                                        <div class="form-group">
                                                        <mat-form-field>
                                                            <h5>
                                                                    <label class="text-muted font-13 mb-0 text-truncate">Comments</label>
                                                                    <input matInput formControlName="comments" name="comments" [(ngModel)]="selectedPolicy.comments"
                                                                        parsley-type="comments">
                                                            </h5>
                                                        </mat-form-field>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-2">
                                                        <div class="form-group">
                                                         
                                                            <mat-form-field>
                                                            <h5>
                                                                <label class="text-muted font-13 mb-0 text-truncate">Priority</label>
                                                                    <input matInput formControlName="priority" name="priority" [(ngModel)]="selectedPolicy.priority"
                                                                        parsley-type="priority">
                                                            </h5>
                                                            </mat-form-field>
                                                            </div>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-1">
                                                        <div class="icon">
                                                        <a href="javascript:void(0);" data-toggle="modal" data-target="#mod3"
                                                            class="action-icon">
                                                            <i class="mdi mdi-square-edit-outline col-lg-12" ></i></a>
                                                     </div>
                                                    </div>
                                                    </div>
                                                    
                                            </div>
                                        </form>

                                    </div>

 <!-- Modal -->
<div class="modal fade"  id="mod3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title" id="myCenterModalLabel">Edit Opportunity Information</h4>
                <button type="button" class="close"  data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body p-4">
                <form [formGroup]="editForm"
                 class="form-horizontal"  class="form">
                  
                    <div class="form-group">
                        <label class="label">Assigned To</label>
                        <input type="text" formControlName="assigned"  required="true" name="assigned" class="form-control input" required
                            placeholder="Type something"/>
                        <small class="text-danger" *ngIf="addForm.get('assigned').hasError('required') && addForm.get('assigned').touched">Assigned To is Required</small>
                 
                    </div>
                    <div class="form-group">
                        <label class="label">Due Date</label>
                                                                <input type="date" formControlName="date1"  name="date1" class="form-control input" required
                                                                    placeholder="Type something"/>
                                                                <small class="text-danger" *ngIf="addForm.get('date1').hasError('required') && addForm.get('date1').touched">Date is Required</small>
                                                           
                    </div>
                    <div class="form-group">
                        <label class="label">Comments</label>
                        <input type="text" formControlName="comments"  required="true" name="comments" class="form-control input" required
                         placeholder="Type something"/>
                        <!-- <small class="text-danger" *ngIf="addForm.get('comments').hasError('required') && addForm.get('comments').touched">Name is Required</small> -->
                  
                    </div>
                    <div class="form-group">
                        <label class="label" for="heard">Priority</label>
                                                            <select  class="form-control input" formControlName="priority"  name="priority" required="">
                                                                <option value="">--None--</option>
                                                                <option value="High">High</option>
                                                                <option value="Normal">Normal</option>
                                                                <!-- <option value="cold">Cold</option> -->
                                                            </select>

                    </div>
                    <div class="text-right">
                        <div class="row">
                            <div class="form-group mb-0 button">
                                <div>
                                    <button type="submit" aria-hidden="true"  (click)="onClickSubmit(editForm.value)"  class="close" data-dismiss="modal"  class="btn btn-primary button" id="b2">Update</button>
                                                                        
                                    <button type="reset" class="close" data-dismiss="modal"  aria-hidden="true" class="btn btn-secondary waves-effect m-l-5 button" id="b1">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->







            <!-- <div class="card-box-2 exp2">
               
            </div> -->


            <div class="modal fade" id="mod4" *ngIf="selectedPolicy"  tabindex="-1" role="dialog" aria-hidden="true">
                    <!-- <ng-template #editProfileModal let-modal> -->
                    <div class="modal-dialog modal-dialog-centered modal-size">  
                        <div class="modal-content">
                            <div class="modal-header bg-light">
                            <h4 class="modal-title" id="myCenterModalLabel" id="pqr">Edit Additional Information</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            </div>
                        
                            <div class="modal-body p-4">
                                <form class="form-horizontal" [formGroup]="editForm"  class="form" >
                                    <div>
                                        <p class="bg-light label">Additional Information</p>
                                    </div>
                                    <div class="row">
                                      
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="label" for="heard">Status</label>
                                                    <select  class="form-control input" formControlName="status"  name="status" required="">
                                                        <option value="">--None--</option>
                                                        <option value="Open">Open</option>
                                                        <option value="Completed">Completed</option>
                                                        <!-- <option value="cold">Cold</option> -->
                                                    </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group mb-0 button">
                                                <div>
                                                    <button type="submit" aria-hidden="true" (click)="onClickSubmit(editForm.value)"  class="close" data-dismiss="modal" class="btn btn-primary button" id="b2">Update</button>                                                  
                                                    <button type="reset" class="close" data-dismiss="modal" (click)="modal.dismiss()" aria-hidden="true" class="btn btn-secondary waves-effect m-l-5 button" id="b1">
                                                            Cancel </button>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>    
                    <!-- </ng-template> -->
                    </div>
                </div>


            <!-- <div class="card-box-2 exp2">
              
            </div> -->

            <div class="modal fade" id="mod5" *ngIf="selectedPolicy"  tabindex="-1" role="dialog" aria-hidden="true">
                <!-- <ng-template #editProfileModal let-modal> -->
                    <div class="modal-dialog modal-dialog-centered modal-size">  
                        <div class="modal-content">
                            <div class="modal-header bg-light">
                                <h4 class="modal-title" id="myCenterModalLabel" id="pqr">Edit Other Information</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                            </div>
                            <div class="modal-body p-4">
                            <form class="form-horizontal" [formGroup]="editForm" class="form" >
                                <div>
                                    <p class="bg-light label">Other Information</p>
                                </div>
                                                            
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label">Remainder Date</label>
                                                <input type="date" formControlName="date2" name="date2" class="form-control input" required
                                                        placeholder="Type something"/>
                                                <small class="text-danger" *ngIf="addForm.get('date2').hasError('required') && addForm.get('date2').touched">Date is Required</small>
                                        </div>
                                                                                                    
                                    </div>
                                </div>
                                                    
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="label">Remainder Time</label>
                                                <input id="appt-time" type="time" name="time1" class="form-control input"  formControlName="time1" step="2">
                                                    <!-- <input type="time" formControlName="time1" name="time1" class="form-control input" required
                                                            placeholder="Type something"/>
                                                            <small class="text-danger" *ngIf="addForm.get('time1').hasError('required') && addForm.get('time1').touched">time is Required</small> -->
                                        </div>
                                    </div>
                                                                                    
                                </div>
                                <div class="row">
                                    <div class="form-group mb-0 button">
                                        <div>
                                            <button type="submit" aria-hidden="true" (click)="onClickSubmit(editForm.value)"  class="close" data-dismiss="modal" class="btn btn-primary button" id="b2">Update</button>
                                                                                                        
                                            <button type="reset" class="close" data-dismiss="modal" (click)="modal.dismiss()" aria-hidden="true" class="btn btn-secondary waves-effect m-l-5 button" id="b1">
                                                Cancel
                                            </button>
                                        </div>
                                    </div> 
                                </div>
                            </form>
                            </div>
                        </div>    
                        <!-- </ng-template> -->
                    </div>
                </div>
            </div>
                       


                    </div>
                </div>
            </div>

    </div>
</div>
<div class="modal fade" id="modal" *ngIf="selectedPolicy" tabindex="-1" role="dialog" aria-hidden="true">
    <!-- <ng-template #editProfileModal let-modal> -->
    <div class="modal-dialog modal-dialog-centered modal-size">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h4 class="modal-title" id="myCenterModalLabel">Edit Tasks</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            </div>

            <div class="modal-body p-4">
                <form class="form-horizontal" (ngSubmit)="onSubmittasks()" [formGroup]="editForm" class="form">
                    <div>
                        <p class="bg-light label">Task Information</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Subject</label>
                                        <input type="text" formControlName="subject"
                                            [(ngModel)]="selectedPolicy.subject" required="true" name="subject"
                                            class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.subject.errors }" placeholder="Type something" />
                                        <!-- <small class="text-danger"
                                            *ngIf="addForm.get('subject').hasError('required') && addForm.get('subject').touched">Subject
                                            is Required</small> -->
                                            <div *ngIf="submitted && t.subject.errors" class="invalid-feedback">
                                                <div *ngIf="t.subject.errors.required">Subject is required</div>
                                          </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Assigned To</label>
                                        <input type="text" formControlName="assigned"
                                            [(ngModel)]="selectedPolicy.assigned" required="true" name="assigned"
                                            class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.assigned.errors }" placeholder="Type something" />
                                        <!-- <small class="text-danger"
                                            *ngIf="addForm.get('assigned').hasError('required') && addForm.get('assigned').touched">Assigned
                                            To is Required</small> -->
                                            <div *ngIf="submitted && t.assigned.errors" class="invalid-feedback">
                                                <div *ngIf="t.assigned.errors.required">Assigned to required</div>
                                          </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Due Date</label>
                                        <input type="date" formControlName="date1" [(ngModel)]="selectedPolicy.date1"
                                            name="date1" class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.date1.errors }"
                                            placeholder="Type something" />
                                        <!-- <small class="text-danger"
                                            *ngIf="addForm.get('date1').hasError('required') && addForm.get('date1').touched">Date
                                            is Required</small> -->
                                            <div *ngIf="submitted && t.date1.errors" class="invalid-feedback">
                                                <div *ngIf="t.date1.errors.required">Due Date is required</div>
                                          </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Name</label>
                                        <input type="text" formControlName="t_name" [(ngModel)]="selectedPolicy.t_name"
                                            required="true" name="t_name" class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.t_name.errors }"
                                            placeholder="Type something" />
                                        <!-- <small class="text-danger"
                                            *ngIf="addForm.get('t_name').hasError('required') && addForm.get('t_name').touched">Name
                                            is Required</small> -->
                                            <div *ngIf="submitted && t.t_name.errors" class="invalid-feedback">
                                                <div *ngIf="t.t_name.errors.required">Name is required</div>
                                          </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Comments</label>
                                        <input type="text" formControlName="comments"
                                            [(ngModel)]="selectedPolicy.comments" required="true" name="comments"
                                            class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.comments.errors }" placeholder="Type something" />
                                        <!-- <small class="text-danger" *ngIf="addForm.get('comments').hasError('required') && addForm.get('comments').touched">Name is Required</small> -->
                                        <div *ngIf="submitted && t.comments.errors" class="invalid-feedback">
                                            <div *ngIf="t.comments.errors.required">Comments is required</div>
                                      </div>
                                    </div>

                                </div>

                            </div>
                            <div>
                                <p class="bg-light label">Additional Information</p>
                            </div>
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label" for="heard">Priority</label>
                                        <select class="form-control input" formControlName="priority"
                                            [(ngModel)]="selectedPolicy.priority" name="priority" [ngClass]="{ 'is-invalid': submitted && t.priority.errors }">
                                            <option value="">--None--</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <!-- <option value="cold">Cold</option> -->
                                        </select>
                                        <div *ngIf="submitted && t.priority.errors" class="invalid-feedback">
                                            <div *ngIf="t.priority.errors.required">Priority is required</div>
                                      </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label" for="heard">Status</label>
                                        <select class="form-control input" formControlName="status"
                                            [(ngModel)]="selectedPolicy.status" name="status" [ngClass]="{ 'is-invalid': submitted && t.status.errors }">
                                            <option value="">--None--</option>
                                            <option value="Open">Open</option>
                                            <option value="Completed">Completed</option>
                                            <!-- <option value="cold">Cold</option> -->
                                        </select>
                                        <div *ngIf="submitted && t.status.errors" class="invalid-feedback">
                                            <div *ngIf="t.status.errors.required">Status is required</div>
                                      </div>
                                    </div>
                                </div>
                            </div>

                            <div>
                                <p class="bg-light label">Other Information</p>
                            </div>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Remainder Date</label>
                                        <input type="date" formControlName="date2" [(ngModel)]="selectedPolicy.date2"
                                            name="date2" class="form-control input" [ngClass]="{ 'is-invalid': submitted && t.date2.errors }"
                                            placeholder="Type something" />
                                        <!-- <small class="text-danger"
                                            *ngIf="addForm.get('date2').hasError('required') && addForm.get('date2').touched">Date
                                            is Required</small> -->
                                            <div *ngIf="submitted && t.date2.errors" class="invalid-feedback">
                                                <div *ngIf="t.date2.errors.required">Remainder date is required</div>
                                          </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="label">Remainder Time</label>
                                        <input id="appt-time" type="time" name="time1" class="form-control input"
                                            formControlName="time1" [(ngModel)]="selectedPolicy.time1" step="2" [ngClass]="{ 'is-invalid': submitted && t.time1.errors }">
                                        <!-- <input type="time" formControlName="time1" name="time1" class="form-control input" required
                                                                            placeholder="Type something"/>
                                                                        <small class="text-danger" *ngIf="addForm.get('time1').hasError('required') && addForm.get('time1').touched">time is Required</small> -->
                                                                        <div *ngIf="submitted && t.time1.errors" class="invalid-feedback">
                                                                            <div *ngIf="t.time1.errors.required">Remainder time is required</div>
                                                                      </div>
                                    </div>

                                </div>

                            </div>


                            <div class="row">
                                <div class="form-group mb-0 button">
                                    <div>
                                        <button type="submit" (click)="updateForm(editForm.value)"  aria-hidden="true"
                                            class="btn btn-primary button" id="b2">Update</button>
                                            <!-- class="close"
                                            data-dismiss="modal" (click)="modal.dismiss()" -->
                                        <button type="reset" class="close" data-dismiss="modal"
                                            (click)="modal.dismiss()" aria-hidden="true"
                                            class="btn btn-secondary waves-effect m-l-5 button" id="b1">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- </ng-template> -->
    </div>
</div>
